{
  "env": {
      "NODE_ENV": "DEV",
      "DB_PASS": "k9lbJJcJF9xducoZ",
      "DB_USER": "blockway-db",
      "MAIL_PASS": "sUmanSuKZnDrokZ768",
      "MONGO_URI": "mongodb+srv://blockway-db:k9lbJJcJF9xducoZ@cluster0.i6n9h.mongodb.net/test?retryWrites=true&w=majority",
      "pm2": "MAIL_PASS=sUmanSuKZnDrokZ768 DB_PASS=k9lbJJcJF9xducoZ DB_USER=blockway-db pm2 start server"
  }
}

{
  "env": {
  "NODE_ENV": "DEV",
  "WORKER_LANG": "node",
  "DB_PASS": "Sofiatqm",
  "DB_USER": "rammirata1",
  "MAIL_PASS": "sUmanSuKZnDrokZ768",
  "MONGO_URI": "mongodb+srv://rammirata1:Sofiatqm@nodeexpressprojects.yclcn5w.mongodb.net/test?retryWrites=true&w=majority",
  "pm2": "MAIL_PASS=sUmanSuKZnDrokZ768 DB_PASS=k9lbJJcJF9xducoZ DB_USER=blockway-db pm2 start server",
  "AWS_ACCESS_KEY_ID": "AKIA3TJ6NWKQ52S5CMXL",
  "AWS_SECRET_ACCESS_KEY": "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",
  "AWS_REGION": "eu-west-2",
  "AWS_LAMBDA_CONCURRENCY": 1000,
  "COVALENT_API_KEYS_RATE": 5,
  "LAMBDA_FN_NAME": "getAddressData",
  "LAMBDA_DB_BATCH_SIZE": 20 }
}