# General
*.log
*.bak
*.swp
*.swo
*.tmp
*.retry
.DS_Store

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.egg
*.so
dist/
build/

# Virtual environments
venv/
env/
.virtualenv/

# PyCharm
.idea/
*.iml

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
